@import url("https://fonts.google.com/specimen/Cinzel+Decorative?query=cinze");

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body{
    background:#F0F3F4;
}

p{
    color:#F0F3F4;
    text-align:center;
    position:relative;
    top:270px;
    font-size:16px;
    padding-top:5px;
}

.container {
    width:100%;
    margin:0px auto;
    font-size:1em;
}

nav {

    overflow: hidden;
    background-color: #17202A;
    margin-left: -120px;
    margin-right: -120px;
}
nav ul {
    list-style-type:none;
    float:left;
    padding:5px;
}
nav ul li {
    float:left;
    padding:3px 10px;
    margin:2px;
    background:transparent;

    -moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
}
.menu > li{
    position: relative;
    display: inline-block;

}

.menu > li > a{
    display: block;
    padding: 25px 20px;
    color: #F0F3F4;
    font-family: 'Open sans';
    text-decoration: none;

}

.menu li a:hover{
    color: #F4D03F;
    transition: all .3s;
}




.logo {
    float: right;
    display: inline-flex;
    vertical-align: top;
    width: 40px;
    height: 40px;
    margin-right: 30px;
    margin-top: 23px;
}


button {
    background:transparent;
    color:#F0F3F4;
}

#cabecera{
    width: 100%;
    height: 500px;
}
#video {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: auto;
    z-index: -10;
    visibility: visible;
}
h2{
    font-family:"open sans";
    font-size:70px;
    color:white;
    text-shadow: 4px 4px 4px #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 155px;
    padding:3rem;
}

.buscador {
    position: absolute;
    font-family: "Cinzel Decorative";
    margin: auto;
    top: 220px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
}
.buscador .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: #17202A;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.buscador .search:hover {
    cursor: pointer;
}
.buscador .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: #F1C40F;
    transform: rotate(45deg);
    transition: all 0.5s;
}
.buscador .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #F1C40F;
    transition: all 0.5s;
}
.buscador input {
    font-family: "Inconsolata", monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: #F1C40F;
    color: #17202A;
    font-family: "Cinzel Decorative";
    padding: 0 80px 0 20px;
    border-radius: 30px;

    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}
.buscador input:hover {
    cursor: pointer;
}
.buscador input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}
.buscador input:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
}
.buscador input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
}
.buscador input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: #F1C40F;
    border-radius: 0%;
    transform: rotate(-45deg);
}
.buscador input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}








/* para 980px o menos */
@media screen and (max-width:980px) {
    .container {
        width:98%;
    }

}

/* para 700px o menos */
@media screen and (max-width:700px) {


    nav ul {
        float:none;
        clear:both;
    }


}

/* para 480px o menos */
@media screen and (max-width:480px) {

    nav, section {
        font-size:1.5em;
    }

    nav ul {
        float:left;
        clear:none;
        width:50%;
        font-size:20px;
    }
    nav ul li {
        float:none;
    }
}









/* para 480px o menos */
@media screen and (max-width:480px) {
    #cabecera{
        width: 100%;
        height: 500px;
    }
    #video {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: -10;
        visibility: visible;
    }
    h2{
        font-family:"open sans";
        font-size:15px;
        color:white;
        text-shadow: 4px 4px 4px #333;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top: -170px;
        padding:3rem;
    }

    p{
        color:#F4D03F;
        text-align:center;
        position:relative;
        top:60px;
        font-size:13px;
        padding-top:5px;
        margin: 5px;
    }


}
